<!DOCTYPE html>
<html>
    <head>
        <title>Assignment</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.js"></script>
        <script type="text/javascript" src="js/modules.js"></script>
        <script type="text/javascript" src="js/assignment.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Tero Hannula" />
        <link rel="stylesheet" href="styles/assignment.css" type="text/css" />
        <link rel="stylesheet" href="styles/slideshow.css" type="text/css" />
    </head>
    <body data-ng-app="app" data-ng-controller="mainCtrl">

        <!-- main app box -->

        <div id="mainbox">

            <!-- navigation -->

            <nav>
                <ul class="horizontal">
                    <li>
                        <a ng-class="{'selected':getSelected('home')}" ng-click="setSelected('home')" href="#/!">home</a>
                    </li>
                    <li>
                        <a ng-class="{'selected':getSelected('projects')}" ng-click="setSelected('projects')" href="#!projects">projects</a>
                    </li>
                    <li>
                        <a ng-class="{'selected':getSelected('skills')}" ng-click="setSelected('skills')" href="#!skills">skills</a>
                    </li>
                    <li>
                        <a ng-class="{'selected':getSelected('gallery')}" ng-click="setSelected('gallery')" href="#!gallery">gallery</a>
                    </li>
                    <li>
                        <a ng-class="{'selected':getSelected('contact')}" ng-click="setSelected('contact')" href="#!contact">contact</a>
                    </li>
                </ul>
            </nav>

            <!-- content box, subpages will be shown here -->

            <div data-ng-view id="contentbox" ></div>
    
            <!-- footer -->
            
            <footer id="footer">
                <p>{{ clock | date:'dd.MM.yyyy HH:mm:ss'}}</p>
            </footer>

        </div> <!-- end of mainbox -->
        
    </body>
</html>