html {
    font-size: 62.5%;
    background: rgb(242,245,246); /* Old browsers */
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */   /* background-color:  rgb(220,220,220); */
}

body {
    margin: 0;
}

#mainbox {
    position: relative;
    margin: 0 auto 0 auto;
}

nav {
    margin-top: 5rem;
    margin: 5rem 1rem 0 1rem;
    min-width: 15rem;
    font-size: 3.5rem;
    border-bottom: 2px ridge #f6f6f6;
}

#contentbox {
    background-color: rgba(0,0,0,0);
    color: white;
    margin-bottom: 5rem;
}

.partial {
    margin-top: 5rem;
    background-color: rgba(0,0,0,0);
    max-height: 50rem;
    overflow-y: scroll;
}

footer {
    border-top: 2px ridge #f6f6f6;
    margin: 0rem 1rem 0 1rem;
}

footer p {
    text-align: center;
    color: #9f9f9f;
    font-size: 1.4rem;
    padding-top: 0.2rem;
}

.grey {
    color: rgb(100,100,100);
}

.skillname {
    padding-left: 2rem;
}

.mediumtext {
    font-size: 1.7rem;
    font-family: 'Roboto';
}

ul {
    list-style-type: none;
    text-transform: uppercase;
    font-family: "Impact";
    font-size: 1.6rem;
}

ul.horizontal li {
    display: inline;
}

ul a {
    padding: 0.5rem 2rem;
}

ul a:link {
    text-decoration: none;
    color: rgb(100,100,100);
}

ul a:hover {
    color: rgb(120,120,120);
}

ul a:visited {
    color: rgb(100,100,100);
}

ul a:active {
    background-color: rgb(170,80,250);
    color: rgb(230,230,230);
} 

ul a.selected {
    background-color: rgb(170,80,250);
    color: rgb(230,230,230);
} 

#skills {
    margin-top: 2rem;
}

#skillcontainer {
    margin-left: auto;
    margin-right: auto;
    width: 60rem;
    padding-left: 5rem;
    max-height: 50rem;
    overflow-y: auto;
}

#skillcontainer p {
    font-size: 1.3rem;

}

#skillcontainer input {
    float: right;
    position: relative;
    top: 2rem;
    left: 0;
    font-size: 1.4rem;
}

#skillcontainer img {
    width: 15rem;
}

skills ul li {
    display: block;
}

textarea.description {
    width: 40rem;
    height: 10rem;
    background-color: inherit;
    resize: none;
    font-family: inherit;
    border: none;
    overflow-y: visible;
}

.face {
    width: 60rem;
    float: left;
    margin-right: 3rem;
}

.info {
    font-size: 1.6rem;
    font-family: 'Courier New';
    color: rgb(130,130,130);
    margin-right: 2rem;
}

 p {
    margin-left: 3rem;

}